.card {
	border: 1px solid #333;
	margin: 10px;
	border-radius: 5px;
	flex-basis: 0 0 150px;
	display: grid;
	width: 150px;
	height: 220px;
	grid-template-columns: 40px auto 40px;
	grid-template-rows: 40px 40px auto 40px 40px;
	grid-gap: 1px;
	color: #333;
	user-select: none;
	overflow: hidden;
}

.card__red {
	color: red;
}

.card--items {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card--number__small {
	grid-column: 1;
	grid-row: 1;
}

.card--number__big {
	font-size: 5rem;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 6;
}

.card--suit {
	grid-column: 1;
	grid-row: 2;
}
